.documents-page {
    display: flex;
    margin-top: 70px;
    transition: margin-left 0.3s ease; 
}
  .documents-content {
    background-color: #33596e8e;
    color: aliceblue;
    margin-left: 190px; 
    display: flex;
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s ease; 
  }
  
  .document-section {
    margin-top: 70px;
  }
  
  .documents-content h1 {
    font-size: x-large;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .document-form {
    margin-top: 20px;
    max-width: 700px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(80, 139, 90);
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: rgb(236, 236, 236);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  .sidebar.open {
    width: 260px; 
  }
  
  .sidebar.close {
    width: 100px; 
  }
  
  .sidebar.open + .documents-page {
    margin-left: 260px;
  }
  
  .sidebar.close + .documents-page {
    margin-left: 0; 
  }
  .sidebar.close+.documents-content{
margin-left: 110px;
  }
  .sidebar.open + .documents-content {
    margin-left: 210px; 
  }